body { margin: 0; padding: 0; font-family: 'Ubuntu', sans-serif; }

#map { position: absolute; width: 100%; height: 100%; z-index: 1; }

#wrapper { position: relative; }

#logo { 
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 10px;
    right: 10px;
    z-index: 99; 
}

div.box {
    position: fixed;
    bottom: 20px;
    z-index: 98;
    background-color: white;
    padding: 5px;
}

/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { float: left; width: 15px; height: 15px; margin: 2px; }

/* your colors */
.legend .nm { border: 2px solid #ff9900; }
.legend .bek { border: 2px solid #00cc66; }
.legend .soj { border: 2px solid #9933ff; }
.legend .jack { border: 2px solid #996633; }
.legend .lf { border: 2px solid #ff3333; }
.legend .crafty { border: 2px solid #0066ff; }

img {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
}